<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- alert -->
	<div th:replace="fragments/alert :: alert"></div>

	<div class="container">

		<div class="row">

			<!-- left menu -->
			<div th:replace="fragments/config-left-menu :: config-left-menu"></div>
		
			<div class="col-xs-12 col-sm-9">
				<a class="btn btn-primary" th:href="@{config/site/add}">Add</a>
			</div>
			<div class="col-xs-12 col-sm-9">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>URL</th>
							<th>Type</th>
							<th>League</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="site : ${sites}">
							<th scope="row" th:text="${site.name}">site.name</th>
							<td th:text="${site.url}">site.url</td>
							<td th:text="${site.type}">site.type</td>
							<td th:text="${site.leagueCode}">site.leagueCode</td>
							<td><a class="btn" href="#" th:href="@{'/config/site/edit/' + ${site.id}}"><span class="glyphicon glyphicon-edit"></span></a> 
								<a class="btn" href="#" th:href="@{'/config/site/delete/' + ${site.id}}"><span class="glyphicon glyphicon-trash"></span></a>
								<a class="btn" href="#" th:href="@{'/config/site/parse/' + ${site.id}}"><span class="glyphicon glyphicon-play"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<!--/row-->

		<hr />

		<footer class="footer">
			<div th:replace="fragments/footer :: footer"></div>
		</footer>

	</div>
	<!--/.container-->


</body>
</html>