<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head_with_syntax :: head">


</head>
<body>

	<!-- navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- alert -->
	<div th:replace="fragments/alert :: alert"></div>

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">

			<h1>
				Editing site: <span th:text="${site.name}" />
			</h1>

			<div class="col-xs-12 col-sm-12">

				<form action="#" th:action="@{/config/site/edit}" th:object="${site}" method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" id="siteId" placeholder="site id" th:field="*{id}"></input>
					</div>
					<div class="form-group">
						<label for="siteName">Name</label> <input type="text" class="form-control" id="siteName" placeholder="site name" th:field="*{name}"></input>
					</div>
					<div class="form-group">
						<label for="siteLeague">League</label> <input type="text" class="form-control" id="siteLeague" placeholder="site league" th:field="*{leagueCode}" />
					</div>
					<div class="form-group">
						<label for="siteUrl">URL</label> <input type="text" class="form-control" id="siteUrl" placeholder="URL" th:field="*{url}" />
					</div>
					<div class="form-group">
						<label for="siteType">Type</label> <select class="form-control" id="siteType" th:field="*{type}">
							<option th:each="type : ${T(pl.bff.result.domain.enums.SiteType).values()}" th:value="${type}"
								th:selected="${type == T(pl.bff.result.domain.enums.SiteType)}" th:text="${type}"></option>
						</select>
					</div>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
				<br />


				<div th:if="${site.contentChangeScript != null}">
					<h3>Content change script</h3>
					<div class="form-group">
						<pre>
							<code class="java" th:text="${site.contentChangeScript.content}">...</code>
						</pre>
					</div>
					<a class="btn btn-primary" th:href="@{'/config/script/' + ${site.contentChangeScript.id} + '/edit'(scriptType=HASH,siteId=${site.id})}">Edit</a>
				</div>
				
				<div th:if="${site.contentChangeScript == null and site.id != null}">
					<a class="btn btn-primary" th:href="@{/config/script/add(scriptType=HASH,siteId=${site.id})}">Add content change script</a>
				</div>
				

				<div th:if="${site.contentParserScript != null}">
					<h3>Content parser script</h3>

					<div class="form-group">
						<pre>
							<code class="java" th:text="${site.contentParserScript.content}">...</code>
						</pre>

					</div>
					<a class="btn btn-primary" th:href="@{'/config/script/' + ${site.contentParserScript.id} + '/edit'(scriptType=PARSER,siteId=${site.id})}">Edit</a>
				</div>
				
				<div th:if="${site.contentParserScript == null and site.id != null}">
					<a class="btn btn-primary" th:href="@{/config/script/add(scriptType=PARSER,siteId=${site.id})}">Add content parser script</a>
				</div>
			</div>

		</div>
		<!--/row-->

		<hr />

		<footer class="footer">
			<div th:replace="fragments/footer :: footer"></div>
		</footer>

	</div>
	<!--/.container-->

	<script>
		hljs.initHighlightingOnLoad();
	</script>


</body>
</html>