<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">


</head>
<body>

	<!-- navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- alert -->
	<div th:replace="fragments/alert :: alert"></div>

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">

			<h1>
				Editing result: <span th:text="${result.league}" />
			</h1>

			<div class="col-xs-12 col-sm-12">

				<form action="#" th:action="@{/results/save}" th:object="${result}" method="post">

					<div class="form-group">
						<input type="hidden" class="form-control" id="id" th:field="*{id}"></input>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('league')}? 'has-error'">
						<label for="league">League</label> <input type="text" class="form-control" id="league" placeholder="league" th:field="*{league}" /> <span
							class="help-block" th:if="${#fields.hasErrors('league')}" th:errors="*{league}"> Incorrect </span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('date')} ? 'has-error'">
						<label for="date">Date</label>
						<div class="input-group input-append date" data-provide="datetimepicker">
							<input type="text" class="form-control" id="date" th:field="*{date}" /> <span class="input-group-addon add-on"><span
								class="glyphicon glyphicon-calendar" /></span>
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('homeTeam')} ? 'has-error'">
						<label for="homeTeam">Home team</label> <input type="text" class="form-control" id="homeTeam" th:field="*{homeTeam}"></input> <span class="help-block"
							th:if="${#fields.hasErrors('homeTeam')}" th:errors="*{homeTeam}"> Incorrect </span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('score.home')} ? 'has-error'">
						<label for="visitorTeam">Home team score</label> <input type="text" class="form-control" id="visitorTeam" th:field="*{score.home}"></input> <span
							class="help-block" th:if="${#fields.hasErrors('score.home')}" th:errors="*{score.home}"> Incorrect </span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('visitorTeam')} ? 'has-error'">
						<label for="visitorTeam">Visitor team</label> <input type="text" class="form-control" id="visitorTeam" th:field="*{visitorTeam}"></input> <span
							class="help-block" th:if="${#fields.hasErrors('visitorTeam')}" th:errors="*{visitorTeam}"> Incorrect </span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('score.visitor')} ? 'has-error'">
						<label for="visitorTeam">Visitor team score</label> <input type="text" class="form-control" id="visitorTeam" th:field="*{score.visitor}"></input> <span
							class="help-block" th:if="${#fields.hasErrors('score.visitor')}" th:errors="*{score.visitor}"> Incorrect </span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('round')} ? 'has-error'">
						<label for="round">Round</label> <input type="number" class="form-control" id="visitorTeam" th:field="*{round}"></input> <span class="help-block"
							th:if="${#fields.hasErrors('round')}" th:errors="*{round}"> Incorrect </span>
					</div>
					<div class="form-group">
						<label for="siteType">Type</label> <select class="form-control" id="status" th:field="*{status}">
							<option th:each="status : ${T(pl.bff.result.domain.enums.ResultStatus).values()}" th:value="${status}"
								th:selected="${status == T(pl.bff.result.domain.enums.ResultStatus)}" th:text="${status}"></option>
						</select>
					</div>
					<button type="submit" class="btn btn-success">Save</button>
				</form>

			</div>

		</div>
		<!--/row-->

		<hr />

		<footer class="footer">
			<div th:replace="fragments/footer :: footer"></div>
		</footer>

	</div>
	<!--/.container-->

	<script type="text/javascript">
		$('.date').datetimepicker({sideBySide: true, format: "YYYY-MM-DD HH:mm:ss"});
	</script>


</body>
</html>