<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>
	
	
	<!-- alert -->
	<div th:replace="fragments/alert :: alert"></div>

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">

			<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
				<div class="list-group">
					<a href="#" class="list-group-item active">Football</a>
				</div>
			</div>
			<!--/.sidebar-offcanvas-->

			<div class="col-xs-12 col-sm-10">
				<a class="btn btn-primary" th:href="@{/results/add}">Add</a>
			</div>
			<div class="col-xs-12 col-sm-10">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><a class="sorted" sd:pagination-sort="league">League</a></th>
							<th><a class="sorted" sd:pagination-sort="date">Date</a></th>
							<th><a class="sorted" sd:pagination-sort="homeTeam">Home team</a></th>
							<th>Score</th>
							<th><a class="sorted" sd:pagination-sort="visitorTeam">Away team</a></th>
							<th><a class="sorted" sd:pagination-sort="round">Round</a></th>
							<th><a class="sorted" sd:pagination-sort="status">Status</a></th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="result : ${results}">
							<th scope="row" th:text="${result.league}">result.league</th>
							<td th:text="${result.date} ? ${#dates.format(result.date, 'yyyy-MM-dd HH:mm:ss')}">result.date</td>
							<td th:text="${result.homeTeam}">result.homeTeam</td>
							<td th:text="${result.score}">result.score</td>
							<td th:text="${result.visitorTeam}">result.visitorTeam</td>
							<td th:text="${result.round}">result.round</td>
							<td th:text="${result.status}">result.status</td>
							<td><a class="btn" href="#" th:href="@{'results/'+${result.id} + '/edit/'}"><span
									class="glyphicon glyphicon-edit"></span></a> <a class="btn" href="#"
								th:href="@{'results/'+${result.id} + '/delete/'}"><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			
				<!-- navbar -->
			<div th:replace="fragments/paginationbar :: paginationbar"></div>

		</div>
		<!--/row-->

		<hr />

		<footer class="footer">
			<div th:replace="fragments/footer :: footer"></div>
		</footer>

	</div>
	<!--/.container-->


</body>
</html>