<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

    <div th:if="${alert}" th:fragment="alert" class="alert alert-dismissable" th:classappend="'alert-' + ${alert.type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span th:text="${alert.message}">Test</span>
    </div>

</body>
</html>