<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- alert -->
	<div th:replace="fragments/alert :: alert"></div>

	<div class="container">

		<div class="row">
		
			<!-- left menu -->
			<div th:replace="fragments/config-left-menu :: config-left-menu"></div>
		
			<div class="col-xs-12 col-sm-9">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Valid</th>
							<th>Content</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="script : ${scripts}">
							<th scope="row" th:text="${script.name}">script.name</th>
							<td> <span class="glyphicon glyphicon-ok" aria-hidden="true" th:if="${script.valid}"></span>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" th:unless="${script.valid}"></span>
							</td>
							<td th:text="${#strings.substring(script.content,0,99)} + '...'">script.content</td>
							<td><a class="btn" href="#" th:href="@{'/config/script/'+ ${script.id} +'/edit'}"><span class="glyphicon glyphicon-edit"></span></a> 
								<a class="btn" href="#" th:href="@{'/config/script/'+ ${script.id} +'/check'}"><span class="glyphicon glyphicon-check"></span></a>
								<a class="btn" href="#" th:href="@{'/config/script/'+ ${script.id} +'/delete'}"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<!--/row-->

		<hr />

		<footer class="footer">
			<div th:replace="fragments/footer :: footer"></div>
		</footer>

	</div>
	<!--/.container-->


</body>
</html>