<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">

</head>
<body>

	<script type="text/javascript" th:inline="javascript">
		function runScript() {	
			console.log(' runScript ');
			$("#output").val('');	
			
			var url = $("#url").val();
			var scriptCode = $("#content").val();
			var data = {"url": url, "content": scriptCode};
			
			var token = $("meta[name='_csrf']").attr("content")
			var header = $("meta[name='_csrf_header']").attr("content")
			
			$.ajax({
				type: "POST",
				url: /*[['/config/script/'+ ${script.id} +'/checkAjax']]*/,
				beforeSend: function (request)
	            {
	                request.setRequestHeader(header, token);
	            },
				data: JSON.stringify(data),
				contentType: "application/json",
				dataType: "text",
				success: function(result) {
					$("#output").val(result);
				},
				failure: function(errMsg) {
					$("#output").val(errMsg);
				}
			});
		}
	</script>


	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/groovy.min.js"></script>

	<!-- navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- alert -->
	<div th:replace="fragments/alert :: alert"></div>

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">

			<h1>
				Checking script: <span th:text="${script.name}" />
			</h1>

			<div class="col-xs-12 col-sm-12">

				<form action="#" th:action="@{'/config/script/'+ ${script.id} +'/check'}" th:object="${script}" method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" id="scriptId" th:field="*{id}"></input>
					</div>
					<div class="form-group">
						<label for="url">Url</label> <input type="text" class="form-control" id="url" th:field="*{url}"></input>
					</div>
					<div class="form-group">
						<label for="content">Script</label>
						<textarea class="form-control" id="content" rows="10" th:field="*{content}"></textarea>
					</div>
					<button class="btn btn-success pull-right" type="submit">Save</button>
				</form>
				<button class="btn btn-primary" onclick="runScript()">Check ajax</button>
				<p />
				<div class="form-group">
					<label for="output">Script output</label>
					<textarea class="form-control" id="output" rows="20" th:field="${script.scriptOutput}" disabled="disabled"></textarea>
				</div>

			</div>

		</div>



		<!--/row-->

		<hr />

		<footer class="footer">
			<div th:replace="fragments/footer :: footer"></div>
		</footer>

	</div>
	<!--/.container-->


</body>
</html>