<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
	
</head>
<body>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/groovy.min.js"></script>

	<!-- navbar -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- alert -->
	<div th:replace="fragments/alert :: alert"></div>

	<div class="container">

		<div class="row row-offcanvas row-offcanvas-right">

			<h1>
				Editing script: <span th:text="${script.name}" />
			</h1>

			<div class="col-xs-12 col-sm-12">

				<form action="#" th:action="@{/config/script/save}" th:object="${script}" method="post">
					<div class="form-group">
 						<input type="hidden" class="form-control" id="scriptId" th:field="*{id}"></input>
 						<input type="hidden" class="form-control" id="siteId" th:field="*{siteId}"></input>
 						<input type="hidden" class="form-control" id="scriptType" th:field="*{scriptType}"></input>
					</div>
					<div class="form-group">
						<label for="scriptName">Name</label> 
						<input type="text" class="form-control" id="name" th:field="*{name}"></input>
					</div>
					<div class="form-group">
						<label for="scriptValid">						
							<input type="checkbox" id="nalid" th:field="*{valid}" /> Valid
						</label> 
					</div>
					<div class="form-group">
						<label for="content">Script</label>
						<textarea class="form-control" id="content" rows="10" th:field="*{content}"></textarea>
					</div>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
				<br />
			</div>

		</div>
		<!--/row-->

		<hr />

		<footer class="footer">
			<div th:replace="fragments/footer :: footer"></div>
		</footer>

	</div>
	<!--/.container-->


</body>
</html>